# Dependències
/node_modules

# Fitxers de compilació i producció
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Fitxers d'entorn (Contenen secrets!)
.env
.env.local

# Fitxers de cache de Firebase
/.firebase

# Fitxers del sistema operatiu
.DS_Store
Thumbs.db

# Directoris d'editors de codi
.vscode/
.idea/