/* Estils per a formularis */
form {
    width: 100%;
}
fieldset {
    border: 1px solid var(--border-color-dark);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}
legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-color-light);
    padding: 0 10px;
    text-transform: uppercase;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: normal;
    color: var(--text-color-soft);
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 1px;
    text-align: left;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    border: 1px solid var(--border-color-dark);
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: var(--text-color-light);
    transition: all 0.3s ease-in-out;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #008cff;
    box-shadow: 0 0 8px rgba(0, 140, 255, 0.3);
    background-color: #2a2a2a;
}