/* CLIENT/src/css/pages/inici.css */
.inici-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.logo {
    cursor: pointer;
    width: 200px; /* Ajusta la mida segons sigui necessari */
}

.inici-frase {
    margin-top: 20px;
    font-size: 1.2rem;
}
